#Python Datatypes and Structures assignment

Question 1:- What are data structures, and why are they important?

Answer:- A data structure is a way of organizing, managing, and storing data so that it can be accessed and modified efficiently. Common examples include Lists, Tuples, Sets, and Dictionaries.

Importance of Data Structures:
1.They allow data to be stored and accessed efficiently.
2.They help in performing operations like searching, sorting, inserting, and deleting data quickly.
3.They make programs more organized and easier to manage.
4.They improve the performance and scalability of software applications.

Question 2:-  Explain the difference between mutable and immutable data types with examples?

Answer:- The major difference between mutable and immutable data types is that mutable data types can be changed after creation, while immutable data types cannot be modified once created.

Mutable data types: We can add, remove, or update elements after they are created.
Examples: List, Dictionary, Set

Immutable data types: We cannot modify their contents once they are created.
Examples: Tuple, String, Frozen Set

example:- l1=[1,32,34,56]
          tp1=(45,2,22,76)

          l1.append(9)
          
          so this line will simply add the element in the end

          tp.append(10)
          this line will throw an error because tuple is an immutable object so because of this we cant perform any modifications after they have created

  The other major difference is that immutable data types have fxed hash values which mutable data types dont have

Question 3:- What are the main differences between lists and tuples in Python?

Answer:- The main difference between lists and tuples is that lists are mutable, while tuples are immutable.
This means we can modify, add, or remove elements in a list after it is created, but we cannot change the elements of a tuple once it is created.

the other main difference is that list is slower and takes more memory usage than tuple . and list is represented using square brackets [] and tuple is represented using paranthesis ().

Question 4:- Describe how dictionaries store data

Answer:- Dictionary are unordered data type that stores the data in key value pairs and it is represented using curly brackets{}

When a dictionary is created, each key acts as a unique identifier that points to a specific value.
Unlike lists that use indexes to access elements, dictionaries use keys to access their corresponding values.

Question 5 :- Why might you use a set instead of a list in Python?

Answer:- Sets are unordered and unique collection of elements . we use sets instead of list we want to avoid duplicate value and want to perform some set based mathematical expression like union , intersection etc .

Question 6 :- What is a string in Python, and how is it different from a list?

Answer:- String is a sequence  of character which is used to represent and manipulate the textual data . It is written inside single (' ') or double (" ") quotes.

String is an immutable data type so  because of this we can't modify any elements whereas list is an mutable data type here we can modify the elements using function like append , remove and update

Question 7 :- How do tuples ensure data integrity in Python?

Answer:- Tuples ensure data integrity because they are immutable, meaning their elements cannot be changed, added, or removed after creation.
This immutability prevents accidental modifications of data, ensuring that the stored information remains constant and secure throughout the program.

Example:

data = (10, 20, 30)
data[1] = 50  
So this line will throw an error as tuple is an immutable data type and we can't do that


Hence, tuples are often used when we want to protect data from being modified accidentally.

Question 8 :- What is a hash table, and how does it relate to dictionaries in Python?

Answer:- A hash table is a data structure that stores data in key–value pairs. It uses a hash function to convert each key into a unique index where its value is stored. This allows fast data access, insertion, and deletion.

In Python, a dictionary is implemented using a hash table.
Each key in a dictionary is hashed to find the location of its corresponding value in memory, making lookups very efficient.

Question 9 :- Can lists contain different data types in Python?

Answer:- Yes, list is heterogenous which means a list can contain elements which can be any data type .

example :- l2=[34,"avi",True, 43.5]

So, lists can store a mixture of multiple data types together.

Question 10 :-  Explain why strings are immutable in PythonP

Answer:-trings in Python are immutable, which means their contents cannot be changed after creation.
This immutability is designed for security, efficiency, and reliability — since strings are used frequently (like in keys, messages, and identifiers), making them unchangeable

Example:- text = "hello"
text[0] = 'H'   

so this line will throw an error as string is immutable so we can't modify it after they have created .

Question 11:- What advantages do dictionaries offer over lists for certain tasks?

Answer:- The advantage of  dictionary over list is faster performance and we can easily delete , add and update the elements in dictionary than lists .

Question 12:- Describe a scenario where using a tuple would be preferable over a list.

Answer :- we  use tuple over list when are so sure about the elements and we dont want any modifications to be happen another reason would be when we  want faster performance and lower memory usage then also we prefer tuple over lists .

Question 13:- How do sets handle duplicate values in Python?

Answer:- Sets are unordered and unique collection of elements . so we put any duplicate value then set will simply remove the duplicated value and returns only the unique  one .

Example:- S1={1,2,1,2,3,4}
output:- { 1,2,3,4}

so , just like this example set has removed the duplicate value and  only returns the unique ones .

Question 14:- How does the “in” keyword work differently for lists and dictionaries?

Answer:- "in" keyword in list is used to check the value exist in the particular list or not .

example :- ls1=[1,2,3,4,5]
print(1 in ls1)


the "in" keyword in dictionary is used to check whether the key exists in the dictionary or not . It does not check for values in dictionary only for keys only

example:- student = {"name": "Avika", "age": 21}
print("name" in student)

Question 15:- Can you modify the elements of a tuple? Explain why or why not.

Answer:- No, we can not modify the elements of a tuple as because tuple is an immutable data type so we can not perform any changes in the tuple after they have been created

example:- t = (1, 2, 3)
t[0] = 10

so , this line will simply throw an error because we are trying to change the value for a tuple

Question 16:- What is a nested dictionary, and give an example of its use case?

Answer:- A nested dictionary is a dictionary that contains another dictionary (or dictionaries) as its values.

example:-
  d1 = {
    "student1": {"name": "Avika", "city": "Delhi", "age": 21},
    "student2": {"name": "Rohan", "city": "Shimla", "age": 22}
}


Use case:-
Nested dictionaries are commonly used to store complex data, such as student records, employee details, or JSON-like data structures.

Question 17 :-  Describe the time complexity of accessing elements in a dictionary

Answer:- dictionaries are implemented using hash tables, which allows fast access to values using their keys.

Average-case time complexity: O(1) (constant time) — Accessing a value by key is very fast, regardless of the dictionary size.

Worst-case time complexity: O(n) — This occurs rarely, in case of many hash collisions where multiple keys map to the same location.

Question 18:- In what situations are lists preferred over dictionaries?

Answer:- Lists are preferred over dictionaries when we want ordered data that can be accessed using indexes.
Lists are also a good choice when we want to iterate through elements in order, such as in loops.

Question 19 :- Why are dictionaries considered unordered, and how does that affect data retrieval?

Answer:-Dictionaries in Python are considered unordered because the elements (key–value pairs) are not stored in a sequential order. Instead, they are stored in hash table slots determined by the keys’ hash values.

Data retrieval is done using keys, not positions or indexes, which allows fast access but not sequential access by order.

Question 20 :-  Explain the difference between a list and a dictionary in terms of data retrieval.

Answer:-List: Elements are retrieved by their index, and searching for a specific value requires scanning the list, which takes O(n) time in the worst case.

example:- lst = [10, 20, 30]
print(lst[1])

Dictionary: Elements are retrieved by their keys, allowing direct access in O(1) average time using a hash table.

example:-student = {"name": "Avika", "age": 21}
print(student["name"])

#Practical Questions

In [ ]:
# Question 1:- Write a code to create a string with your name and print it

str1="Hi my name is Avika"
print(str1)

Hi my name is Avika

In [ ]:
#Question 2 :-Write a code to find the length of the string "Hello World".

str2="Hello World"
print(len(str2))

11

In [ ]:
#Question 3:-  Write a code to slice the first 3 characters from the string "Python Programming"

str3= "Python Programming"
print(str3[3:])

hon Programming

In [ ]:
# Question 4 :-Write a code to convert the string "hello" to uppercase

str4="hello"
print(str4.upper())

HELLO

In [ ]:
#Question 5:- Write a code to replace the word "apple" with "orange" in the string "I like apple"

str5="I like apple"
print(str5.replace("apple","orange"))

I like orange

In [ ]:
#Question 6 :-Write a code to create a list with numbers 1 to 5 and print it

lst1=[1,2,3,4,5]
print(lst1)

[1, 2, 3, 4, 5]

In [ ]:
# Question 7 :- Write a code to append the number 10 to the list [1, 2, 3, 4]

lst2=[1,2,3,4]
lst2.append(10)
print(lst2)

[1, 2, 3, 4, 10]

In [ ]:
#Question 8 :- Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

lst3=[1,2,3,4,5]
lst3.remove(3)
print(lst3)

[1, 2, 4, 5]

In [ ]:
#Question 9:- Write a code to access the second element in the list ['a', 'b', 'c', 'd']

lst4=['a', 'b', 'c', 'd']
print(lst4[2])

c

In [ ]:
#Question 10 :- Write a code to reverse the list [10, 20, 30, 40, 50].

lst5=[10,20,30,40,50]
print(lst5[::-1])

[50, 40, 30, 20, 10]

In [ ]:
#Question 11:- Write a code to create a tuple with the elements 100, 200, 300 and print it.

tp1=(100,200,300)
print(tp1)

(100, 200, 300)

In [ ]:
#Question 12:- Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tp2=('red', 'green', 'blue', 'yellow')
print(tp2[2])

blue

In [ ]:
#Question 13:-Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tp3=(10,20,5,15)
print(min(tp3))

5

In [ ]:
#Question 14:- Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tp4=('dog', 'cat', 'rabbit')
print(tp4.index("cat"))

1

In [ ]:
#Question 15  :- Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

tp5=("apple","mango","kiwi")
print("kiwi" in tp5)

True

In [ ]:
#Question 16:-  Write a code to create a set with the elements 'a', 'b', 'c' and print it

st1={'a','b','c'}
print(st1)

{'b', 'c', 'a'}

In [ ]:
#Question 17:- Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

st2= {1, 2, 3, 4, 5}
st2.clear()
print(st2)

set()

In [ ]:
#Question 18 :-Write a code to remove the element 4 from the set {1, 2, 3, 4}.

st3= {1, 2, 3, 4}
st3.remove(4)
print(st3)

In [ ]:
#Question 19:-  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

st4={1,2,3}
st5={3,4,5}
print(st4|st5)

{1, 2, 3, 4, 5}

In [ ]:
#Question 20:- Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

st6={1,2,3}
st7={2,3,4}
print(st6&st7)

{2, 3}

In [ ]:
#Question 21:- Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

d1={"name":"Avika","age":21,"city":"Delhi"}
print(d1)

{'name': 'Avika', 'age': 21, 'city': 'Delhi'}

In [ ]:
#Question 22:- Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

d2= {'name': 'John', 'age': 25}
d2["country"] = 'USA'

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#Question 23:-3. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

d3={'name': 'Alice', 'age': 30}
print(d3['name'])

Alice

In [35]:
#Question 24:-  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

d4= {'name': 'Bob', 'age': 22, 'city': 'New York'}
d4.pop('age')
print(d4)

{'name': 'Bob', 'city': 'New York'}

In [36]:
#Question 25:-Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

d5={'name': 'Alice', 'city': 'Paris'}
print("city" in d5)

True

In [37]:
#Question 26 :- Write a code to create a list, a tuple, and a dictionary, and print them all.

l1=[1,2,3,4]
tp1=(1,2,3,4)
d1={"name":"Avika","age":21,"city":"Delhi"}
print(l1)
print(tp1)
print(d1)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Avika', 'age': 21, 'city': 'Delhi'}

In [39]:
#Question 27:- Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[1, 2, 54, 61, 66]

In [ ]:
#Question 28 :- Write a code to create a list with strings and print the element at the third index.

l2=["apple","mango","kiwi","banana"]
print(l2[3])

In [43]:
#Question 29 :- Write a code to combine two dictionaries into one and print the result.

d5={'name': 'Alice', 'city': 'Paris'}
d1={"name":"Avika","age":21,"city":"Delhi"}
print(d5|d1)

{'name': 'Avika', 'city': 'Delhi', 'age': 21}

In [44]:
#Question 30:- Write a code to convert a list of strings into a set.

list1=[4,3,5,4,7]
print(set(list1))

{3, 4, 5, 7}